{% extends 'base.html' %}
{% block "body" %}
      <!-- services section start -->
      <div class="services_section layout_padding padding_bottom_0">
        <div class="container">
          <h1 class="blog_text">Blog</h1>
          <div class="row">
            <div class="col-lg-4">
              <div class="call_box">
                <div class="call_image">{% load static %}<img src="{% static 'images\call-icon.png' %}" alt='blog'></div>
                <h2 class="emergency_text">Emergency Cases</h2>
                <h1 class="call_text">1-800-400-5768</h1>
                <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="call_box active">
                <div class="call_image">{% load static %}<img src="{% static 'images\time-seat-icon.png' %}"></div>
                <h2 class="emergency_text">Doctors timetable</h2>
                <h1 class="call_text">1-800-400-5768</h1>
                <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="call_box">
                <div class="call_image">{% load static %}<img src="{% static 'images\watch-icon.png' %}"></div>
                <h2 class="emergency_text">Opening hours</h2>
                <h1 class="call_text">1-800-400-5768</h1>
                <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- services section end -->
      {% endblock%}
      <!-- footer section start -->
      <!-- info section -->
   