{% extends 'base.html' %}
{% block "body" %}
      <!-- care section start -->
      <div class="care_section layout_padding">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="image_3" href="#">{% load static %}<img src="{% static 'images\img-3.png' %}"></div>
            </div>
            <div class="col-md-6">
              <div class="care_taital">
                <h4 class="finest_text">Finest Patient</h4>
                <h1 class="care_text">Care & Amenities</h1>
                <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,tempor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="read_bt_2"><a href="/departments">Read More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- care section end -->
      {% endblock %}
      <!-- footer section start -->
      <!-- info section -->
    